<table>
  <tr>
   <td colspan="4"><input [value]="a" type="number"></td>
  </tr>
  <tr>
    <td>
      <button (click)="onclick(1)">1</button>
    </td>
    <td>
      <button (click)="onclick(2)">2</button>
      </td>
      <td>
      <button (click)="onclick(3)">3</button>
      </td>
      <td>
      <button (click)="onclick(4)">4</button>
    </td>
  </tr>

  <tr>
    <td>
      <button (click)="onclick(5)">5</button>
    </td>
    <td>
      <button (click)="onclick(6)">6</button>
      </td>
      <td>
      <button (click)="onclick(7)">7</button>
      </td>
      <td>
      <button (click)="onclick(8)">8</button>
    </td>
  </tr>

  <tr>
    <td>
      <button (click)="onclick(9)">9</button>
    </td>
    <td>
      <button (click)="onclick(0)">0</button>
      </td>
      <td>
      <button (click)="onplus()">+</button>
      </td>
      <td>
      <button (click)="onminus()">-</button>
    </td>
  </tr>

  <tr>
    <td>
      <button (click)="onmulti()">*</button>
    </td>
    <td>
      <button (click)="ondiv()">/</button>
      </td>
      <td>
      <button (click)="onclear()">C</button>
      </td>
      <td>
        <button (click)="oneq()">=</button>
    </td>
  </tr>
</table>


